body{
      margin:0px;
}
#navbar{
     position:relative;
     width:100%;
     height:auto;
     background-color: #000000; 
}
.logo{
    
    margin:10% 0 0 30%;
}
h1 {
      text-align : center;
}
h2 {
      text-align : center;
}
h4 {
      text-align : center;
      margin:10% 0 0 0;
}
